.slider{
    width:100%;
}

.slider-main{
    position:relative;
    overflow:hidden;
    border-radius:28px;
    box-shadow:0 20px 50px rgba(0,0,0,.15);
}
.main-image{

    width:100%;

    height:620px;

    object-fit:cover;

    border-radius:28px;

    display:block;

}

.slider-main:hover .main-image{
    transform:scale(1.03);
}

.arrow{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    width:56px;
    height:56px;
    border:none;
    border-radius:50%;
    background:rgba(255,255,255,.9);
    cursor:pointer;
    font-size:22px;
    color:#444;
    transition:.3s;
    z-index:10;
}

.arrow:hover{
    background:#B88A44;
    color:#fff;
}

.left{
    left:20px;
}

.right{
    right:20px;
}

.thumbnail-container{
    display:flex;
    gap:15px;
    margin-top:20px;
    overflow-x:auto;
    scrollbar-width:none;
}

.thumbnail-container::-webkit-scrollbar{
    display:none;
}

.thumbnail{
    width:95px;
    height:70px;
    object-fit:cover;
    border-radius:14px;
    cursor:pointer;
    opacity:.55;
    border:3px solid transparent;
    transition:.3s;
    flex-shrink:0;
}

.thumbnail:hover{
    opacity:1;
}

.thumbnail.active{
    opacity:1;
    border-color:#B88A44;
    box-shadow:0 10px 20px rgba(184,138,68,.3);
}

.slider-empty{
    height:520px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f5f5f5;
    border-radius:24px;
    color:#999;
}